 <html>
 <!-- include header  -->
 <%- include('../partials/header', { pageTitle: "Add Course :: Course Management" }) %>
 <!-- include header  -->

 <body>
   <div>
     <!-- include navbar -->
     <%- include('../partials/navbar') %>
     <!-- /include navbar -->
   </div>
   <div class="container">
     <h1>Edit Course</h1>

     <!-- include footer -->
     <%- include('../partials/footer') %>
     <!-- /include footer -->

     <div class="h2 text-center m-4 text-danger">
       Edit your Course here
     </div>

     <form method="POST" class="thead-dark" action="/edit" id="editform">

       <div class="form-group">
         <input type='number' name='id' hidden value='<%=Courses[0].dataValues.id%>'></div>

       <div class="form-group">
         <label for="inputCName">Course-Name</label>
         <input type="text" name="C_Name" id="inputCName" value='<%=Courses[0].dataValues.Course_name%>'
           placeholder="Course-Name" autofocus required>

       </div>
       <div class="form-group">
         <label for="inputCDuration">Course-Duration</label>
         <input type="text" name="C_dur" id="inputC_duration" value='<%=Courses[0].dataValues.Course_Duration%>'
           placeholder="Course-Duration" required>
       </div>
       <div class="form-group">
         <label for="inputfees">Course-Fees:</label>
         <input type="number" name="C_Fees" id="inputC_Fees" value='<%=Courses[0].dataValues.Course_Fees%>'
           placeholder="Course-Fees" required>
       </div>

       <button class="btn btn-success" id="adbtn" class=" text-center" type="submit">Update</button>
     </form>
   </div>
   </div>





 </body>

 </html>