<html>

<head>


  <!-- include header -->
  <%- include('../partials/header', { pageTitle: "Home  : Course Management" }) %>
  <!-- /include header -->




</head>


<body class="container">


  <h1 style="text-align:center;">Course Management System</h1>

  <div>
    <!-- include navbar -->
    <%- include('../partials/navbar') %>
    <!-- /include navbar -->
  </div>

  <!-- front page table -->

  <!-- form handling -->
  <% if(typeof courses != "undefined") {%>
  <table class="table" id="table_ID">
    <thead class="thead-dark" method='POST'>
      <tr>
        <th>ID</th>
        <th>Course-Name</th>
        <th>Duration</th>
        <th>Fees</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% 
                    
                    
      courses.forEach((value)=>{
                        %>
      <tr>
        <td><%= value.id%></td>
        <td><%= value.Course_name%></td>
        <td><%= value.Course_Duration%></td>
        <td><%= value.Course_Fees%></td>
        <td>
          <a href="/edit/<%=value.id%>">
            <span class='text-gradient'><i class='fas fa-pencil-alt'>
              </i></span></a>
          <a href='/delete/<%=value.id%>' onclick="return confirm('Are you sure you want to delete this item?');"
            class="btn border-shadow delete">
            <span class='text-gradient' id='del-btn'><i class='fas fa-trash'></i></span></a>
        </td>
      </tr>
      <%
                    })
                    %>
    </tbody>
  </table>
  <%
            }
          else
          {  
            %>
  <div class="card">
    <div class="card-header text-center text-info">
      <h4>There is Nothing ...Please Add First</h1>
    </div>
    <% }
          %>


  </div>

  <!-- front page table -->


  <!-- include footer -->
  <%- include('../partials/footer') %>
  <!-- /include footer -->

</body>

</html>